Projekt Streaming

In [2]:
import numpy as np
import pandas as pd

np.random.seed(42)

N = 800

df = pd.DataFrame({
	"user_id": range(1, N+1),
	"age": np.random.randint(18, 70, size = N),
	"country": np.random.choice(
		["PL", "DE", "UK", "FR", "ES"], size = N, p=[0.35, 0.2, 0.15, 0.15, 0.15]
	),
	"subscription_type": np.random.choice(
		["basic", "standard", "premium"], size = N, p=[0.45, 0.35, 0.2]
	),
	"monthly_fee": np.random.choice([29, 39, 59], size = N),
	"months_active": np.random.randint(1, 48, size = N),
	"hours_watched_per_month": np.random.normal(45, 18, size = N).clip(5, 140),
	"churned": np.random.choice([0, 1], size = N, p=[0.78, 0.22])
})

df

,user_id,age,country,subscription_type,monthly_fee,months_active,hours_watched_per_month,churned
0,1,56,PL,standard,59,19,55.105237,0
1,2,69,ES,standard,29,12,55.915704,0
2,3,46,UK,standard,59,37,20.049157,0
3,4,32,PL,standard,29,42,71.082544,1
4,5,60,DE,basic,39,17,28.788352,0
...,...,...,...,...,...,...,...,...
795,796,68,UK,basic,29,24,64.029474,0
796,797,22,FR,premium,39,25,27.247959,0
797,798,64,UK,basic,29,45,70.534020,0
798,799,42,DE,standard,29,46,60.170962,1
799,800,19,UK,standard,59,32,66.716643,1